alabaster
colorama
control
gitdb
gitpython
ipykernel
ipython
ipywidgets
jupyter-book
jupyter-cache
jupyter-sphinx
latexcodec
linkify-it-py
matplotlib
markdown-it-py
mdit-py-plugins
myst-nb
myst-parser
nested-lookup
numpy
pandas
pybtex
pybtex-docutils
pydata-sphinx-theme
scikit-build
scipy
slycot
smmap
soupsieve
sphinx-book-theme
sphinx-comments
sphinx-copybutton
sphinx-panels
sphinx-thebe
sphinx-togglebutton
sphinxcontrib-bibtex
sympy
